@charset "utf-8";

/* Adicionando fonte externa. */
@font-face {
	font-family: goth;
	src: url(./fonte/old_london/OldLondon.ttf);
	src: url(./fonte/old_london/OldLondonAlternate.ttf);
}

/* Estilização da margem geral da página. */
* {
	margin: 0;
	padding: 0;
}

/* Centralizando o livro e declarando a cor do body. */
body {
	background-color: #2e3537;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* Tirando a estilização do input */
input {
	display: none;
}

/* Declarando o tamanho da div .livro para ficar nas dimenções de um livro. Declarando também a duração da transição e a pespectiva da página.*/
.livro {
	width: 350px;
	height: 499px;
	position: relative;
	transition-duration: 1s;
	perspective: 1500;
}

/* Adicionando a capa do livro. */
.capa {
	background-image: url(./img/capa.jpg);
}

/* Adicionando a capa final do livro. */
.tampa-capa {
	background-image: url(./img/tampa_capa.jpg);
}

/* Centralizando, estabelezendo tamanho e dando sombra ao livro e as capas. */
.capa,
.tampa-capa {
	width: 100%;
	height: 100%;
	border-radius: 0 15px 15px 0;
	box-shadow: 0 0 5px rgb(41, 41, 41);
	display: flex;
	align-items: center;
	justify-content: center;
	transform-origin: center left;
}

/* Deixando a capa por cima de todas as páginas e declarando a duração da transição */
.capa {
	position: absolute;
	z-index: 4;
	transition: transform 1s;
}

/* Declando a label em toda a página para que seja possivel virar a capa de qualquer parte do livro. */
.capa label {
	width: 100%;
	height: 100%;
	cursor: pointer;
}

/* Declarando background das páginas. */
.pagina {
	background-image: url(./img/img_folha.jpg);
}

/* Declarando tamanho, sombra e transição das páginas. */
.pagina {
	position: absolute;
	width: 302px;
	height: 476px;
	border-radius: 0 15px 15px 0;
	margin-top: 10px;
	transform-origin: left;
	transform-style: preserve-3d;
	transform: rotateY(0deg);
	transition-duration: 1.5s;
}

/* Declarando a margem do verso das páginas. */
.verso {
	margin: 15px;
}

/* Estilizando o h1. */
h1 {
	font-family: goth;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 35px;
	color: #006600;
	margin-bottom: 1px;
}

/* Centralizando a imagem. */
img {
	margin: auto;
	display: block;
	border-radius: 15px;
	margin-bottom: 5px;
}

/* Estilizando o parágrafo. */
p {
	font-family: goth;
	font-size: 20px;
	text-align: justify;
	text-indent: 12px;
	color: #000000;
	margin-bottom: 3px;
}

/* Estilizando a primeira letra do primeiro parágrafo. */
#inicio::first-letter {
	background-color: #006600;
	font-size: 130%;
	color: #FAF2DE;
	padding-left: 5px;
	padding-right: 5px;
}

/* Declarando visibilidade e tamanho da página á esquerda. */
.pagina-esquerda {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	box-sizing: border-box;
	padding: 1rem;
}

/*Declarando visibilidade, tamanho e rotação da página á direita.*/
.pagina-direita {
	transform: rotateY(180deg);
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	z-index: 99;
}

/* Estilizando os icons para virar ás páginas. */
.esquerda,
.direita {
	position: absolute;
	bottom: 1em;
	cursor: pointer;
}

/* Declarando tamanho do icon á esquerda. */
.esquerda {
	right: 1em;
}

/* Declarando tamanho do icon á direita. */
.direita {
	left: 1em;
}

/* Estilizando o footer. */
#footer {
	color: #006600;
	font-size: 25px;
	margin-top: 350px;
}

/* Estilizando o background da tampa da capa. */
.tampa-capa {
	position: relative;
	z-index: -1;
}

/* Separando as páginas */
#pag1 {
	z-index: 3;
}

/* Separando as páginas. */
#pag2 {
	z-index: 2;
}

/* Separando as páginas. */
#pag3 {
	z-index: 1;
}

/* Virando a capa */
#checkbox-capa:checked~.livro {
	transform: translateX(200px);
}

/* Virando desvirando a capa. */
#checkbox-capa:checked~.livro .capa {
	transition: transform 1.5s, z-index 0.5s 0.5s;
	transform: rotateY(-180deg);
	z-index: 1;
}

/* Dando sombra a transição */
#checkbox-capa:checked~.livro .pagina {
	box-shadow: 0 0 3px rgb(99, 98, 98);
}

/* Virando a página 1. */
#checkbox-pag1:checked~.livro #pag1 {
	transform: rotateY(-180deg);
	z-index: 2;
}

/* Virando a página 2. */
#checkbox-pag2:checked~.livro #pag2 {
	transform: rotateY(-180deg);
	z-index: 3;
}

/* Virando a pagina 3. */
#checkbox-pag3:checked~.livro #pag3 {
	transform: rotateY(-180deg);
	z-index: 3;
}